
body {

}

#main {
    max-width: 1024px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.container {
    float:left;
    margin:auto;

}

.col_r,
.col_l {
    position: relative;
    width: 45%;
    padding-left: 0px;
    padding-right: 15px;
}

.col_l {
   float:left;
}
.col_r {
   float:right;
} 


